/* le chemin d'accès de mon css: src/assets/css/styles.css */

/*structure de base de body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*Le css de mon image du drapeau du canada et du lien de mon numéro de téléphone personnel*/
.header-container {
  display: flex;
  justify-content: flex-end; /* Aligne les éléments à droite */
  align-items: center;
  background: radial-gradient(circle, #0b0000, #1a1a1a);
  padding: 10px 20px; /* Ajout de padding pour une meilleure apparence */
  color: white; /* Couleur du texte */
}

.header-content {
  display: flex;
  align-items: center;
}

.canada-flag {
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 20px;
}

.phone-link {
  text-decoration: none;
  color: inherit;
}

/*Le css de mon menu de navigation*/
.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0000;
  padding: 10px 20px;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 5px 15px;
}

.navbar a:hover {
  background-color: #342525;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.navbar-right {
  display: flex;
}

.navbar-right ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-right li {
  margin-left: 20px;
}

.navbar-right a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 15px;
}

.navbar-right a:hover {
  background-color: #342525;
}

/*hero.css */
.hero {
  min-height: 450px;
  display: flex;
  justify-content: left;
  align-items: center;
  background: radial-gradient(circle, #0b0000, #1a1a1a);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  padding: 20px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero span {
  margin-left: 10px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 50px;
}

.description {
  font-size: 35px;
  margin-top: 30px;
}

/*Le css de mon bouton lien vers la page contact OBTENEZ MES SERVICES DÈS MAINTENANT! */
.cta-button {
  display: inline-block;
  font-size: 45px; /* Taille de police */
  color: white; /* Couleur du texte */
  background-color: transparent; /* Fond transparent */
  border: 2px solid white; /* Bordure blanche */
  padding: 10px 20px; /* Padding pour le bouton */
  text-decoration: none; /* Pas de soulignement */
  margin-top: 50px; /* Espace au-dessus du bouton */
}

.cta-button:hover {
  background-color: #1a1a1a; /* Fond noir pâle au survol */
}

.hero-image {
  max-width: 50%; /* Ajustez selon vos besoins */
  height: auto;
  margin-left: 20px; /* Espacement entre le texte et l'image */
}

/* Le css de la component hero1 */
.hero-container {
  display: flex;
  flex-direction: column; /* Ajout pour empiler les textes verticalement */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* S'assure que le conteneur occupe toute la hauteur de la vue */
  background: radial-gradient(circle, #0b0000, #1a1a1a);
  color: white; /* Couleur du texte */
  padding: 20px;
}

.hero-text1 {
  text-align: center; /* Centre le texte horizontalement */
  font-size: 25px; /* Taille de police (peut être ajustée selon vos besoins) */
  max-width: 800px; /* Limite la largeur du texte pour une meilleure lisibilité */
  margin-bottom: 20px; /* Espace entre les blocs de texte */
}

.hero-text2 {
  text-align: center; /* Centre le texte horizontalement */
  font-size: 20px; /* Taille de police (peut être ajustée selon vos besoins) */
  max-width: 800px; /* Limite la largeur du texte pour une meilleure lisibilité */
  margin-bottom: 20px; /* Espace entre les blocs de texte */
}

.items-container {
  display: flex;
  justify-content: space-around; /* Espace les items horizontalement */
  align-items: flex-start;
  width: 100%;
  max-width: 1200px; /* Limite la largeur totale pour une meilleure lisibilité */
}

.item {
  background-color: #1a1a1a;
  border: 1px solid #fff; /* Bordure blanche */
  padding: 20px;
  margin: 10px;
  width: 30%; /* Largeur de chaque item */
  text-align: center; /* Centre le texte dans chaque item */
}

.item-image {
  max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
  height: auto; /* Garde les proportions de l'image */
  margin-bottom: 10px; /* Espace sous l'image */
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

/* Le css de la component hero2 */
.hero-container2 {
  display: flex;
  flex-direction: column; /* Ajout pour empiler les textes verticalement */
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #0b0000, #1a1a1a);
  color: white; /* Couleur du texte */
  padding: 20px;
}

.hero-text2 {
  text-align: center; /* Centre le texte horizontalement */
  font-size: 25px; /* Taille de police (peut être ajustée selon vos besoins) */
  max-width: 800px; /* Limite la largeur du texte pour une meilleure lisibilité */
  margin-bottom: 20px; /* Espace entre les blocs de texte */
}

.hero-text21 {
  text-align: center; /* Centre le texte horizontalement */
  font-size: 20px; /* Taille de police (peut être ajustée selon vos besoins) */
  max-width: 800px; /* Limite la largeur du texte pour une meilleure lisibilité */
  margin-bottom: 20px; /* Espace entre les blocs de texte */
}

/* footer.css */
.site-footer {
  background: radial-gradient(circle, #0b0000, #1a1a1a);
  color: white;
  padding: 0px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
}

.footer-section {
  margin: 0 15px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links li {
  display: inline;
}

.footer-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.footer-links a:hover {
  background-color: #342525;
}

.footer-bottom {
  border-top: 1px solid #342525;
  padding-top: 10px;
  font-size: 0.9em;
  color: #ccc;
  margin-bottom: 10px;
}

.education {
  text-align: center;
  padding: 50px 20px;
  background-color: #f4f4f9;
}

.education-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.education-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.education-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-logo img {
  width: 150px; /* Ajustez cette taille selon vos besoins */
  height: auto;
  margin-bottom: 10px;
}

.education-logo p {
  font-size: 1.2em;
  color: #555;
  margin: 0;
}
